@page "/authorization"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Authorization</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "Authorization";
        await base.OnInitializedAsync();
    }
}