@page "/cinema_info"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Cinema info</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "CinemaInfo";
        await base.OnInitializedAsync();
    }
}