@page "/hall"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject NavigationManager navigation
@inject IJSRuntime JS

<PageTitle>Hall</PageTitle>

<style>
    .button {
        position: absolute;
        left: 50%;
        top: 75%;
        height: 10%;
        width: 20%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .button3d {
        position: absolute;
        left: 53.5%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .buttonVip {
        position: absolute;
        left: 62.3%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .buttonOne, .placeOne {
        position: relative;
        display: inline-block;
        background: #9F4FF9;
        width: 3em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        outline: none;
        border-radius: 5px;
    }

    .buttonTwo, .placeTwo {
        position: relative;
        display: inline-block;
        background: #902DFF;
        width: 3em;
        height: 3em;
        line-height: 2em;
        text-align: center;
        text-decoration: none;
        outline: none;
        border-radius: 5px;
    }

        .buttonOne:hover, .buttonTwo:hover, .buttonOne:focus, .buttonTwo:focus {
            background: #6921BB;
        }

        .buttonOne:active, .buttonTwo:active {
            background: none;
        }

    .block {
        position: absolute;
        left: 44.5%;
        top: 25%;
    }
</style>

<div class="block">
    @foreach (var p in dataBase.CurrentSession.Hall.Places)
    {
        @if (p.Value == "false")
        {
            <button class="buttonOne" @onclick="() => Place(p.Key)">@p.Key</button>
        }
        else
        {
            <button class="buttonTwo" @onclick="() => OccupiedPlace()">@p.Key</button>
        }

        count++;
        @if (count == 10)
        {
            <br /> <br />
            count = 0;
        }
    }
</div>

<button class="button" @onclick="Buy">Купить билет</button>

<label style="font-size: 30px">Ваше место: @place</label>

@code {
    int count = 0;
    string place = "";

    public void Buy()
    {
        if (place != "")
        {
            dataBase.CurrentSession.Hall.Places[place] = "true";
        }

        dataBase.SessionReplace(dataBase.CurrentSession.Id, dataBase.CurrentSession);
        dataBase.CurrentPlace = place;
        navigation.NavigateTo("/ticket_buy");
    }

    public void Place(string placeNumber)
    {
        place = placeNumber;
    }

    public void OccupiedPlace()
    {
        JS.InvokeVoidAsync("alert", "Вы не можете выбрать это место, так как оно уже занято");
    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "Hall";
        await base.OnInitializedAsync();
    }
}