@page "/hall_one"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Hall one</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "HallOne";
        await base.OnInitializedAsync();
    }
}