@page "/hall_three"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Hall three</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "HallThree";
        await base.OnInitializedAsync();
    }
}