@page "/"
@using CinemaCoursework.Data
@inject PagesList pageList

<PageTitle>Movie session</PageTitle>

<style type="text/css">
    .lbl {
        font-size: 23px;
    }

    .field {
        width: 85%;
        background: #9F4FF9;
        border-radius: 20px;
        font-size: 20px;
    }

    .button {
        position: absolute;
        left: 27%;
        height: 25%;
        width: 35%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .href {
        color: #9F4FF9;
    }

    .alignment {
        position: absolute;
        left: 10%;
    }

    .block {
        position: absolute;
        left: 48%;
        top: 40%;
    }
</style>

<div class="block">
    <table>
        <tr>
            <td><label class="lbl">Название фильма:</label></td>
            <td><input class="field" id="name" type="text" @bind-value="@movie.Name"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lbl">Дата показа:</label></td>
            <td><input class="field" id="date" type="text" @bind-value="@hall.Time"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><button class="button" @onclick="Create">Создать киносеанс</button><br /></td>
        </tr>
    </table>
</div>

@code {
    private Movie movie = new Movie();
    private Hall hall = new Hall();

    public void Create(){}

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "TicketRefund";
        await base.OnInitializedAsync();
    }
}
