@page "/"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject NavigationManager navigation

<PageTitle>Cinema</PageTitle>

<style type="text/css">
    img {
        width: 20em;
        height: 27em;
        border-radius: 15%;
    }

    p {
        height: 10em;
        text-align: center;
        font-weight: 700;
        font-size: 23px;
        color: black;
    }
</style>

<p style="height: 4.5em;"></p>

<MudGrid Spacing="@spacing" Justify="Justify.Center">
    @foreach (var m in movies)
    {
        <MudItem>
            <MudPaper Height="400px" Width="300px" Class="d-flex align-center justify-center mud-width-full py-8" Style="background-color: #A68EFE; box-shadow: none;">
                <a href="/" @onclick="() => GetMovie(m)">
                    <img src="images/@m.Poster" />
                    <p>@m.Name</p>
                </a>
            </MudPaper>
        </MudItem>
    }
</MudGrid>

@code {
    public int spacing { get; set; } = 5;
    public List<Movie> movies = new List<Movie>();

    public void GetMovie(Movie movie)
    {
        dataBase.CurrentMovie = movie;
        navigation.NavigateTo("/movie_info");
    }

    protected override async Task OnInitializedAsync()
    {
        movies = new List<Movie>();
        movies = dataBase.GetMovieList();
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "MoviesList";
        await base.OnInitializedAsync();
    }
}