@page "/session_time"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject Movie movie
@inject NavigationManager navigation

<PageTitle>Киносеансы</PageTitle>

<style>
    img {
        width: 27em;
        height: 37em;
        border-radius: 15%;
    }

    table td{
        vertical-align:top;
        font-weight: bold;
        width: 70%;
    }
</style>

<div class="tableOne">
    <table style="margin-left: 25px; margin-top: 15px">
        <tr>
            <td>
                <table>
                    <tr>
                        <td>
                            <MudButtonGroup Size="Size.Large" Variant="Variant.Outlined">
                                @foreach (var h in halls)
                                {
                                    <MudButton @onclick="() => GetSessions(h)">@h</MudButton>
                                }
                            </MudButtonGroup>
                        </td>
                    </tr>
                    <tr><td><label></label></td></tr>
                    <tr>
                        <td><label style="font-size: 25px;">@hallPrice.ToString()</label></td>
                    </tr>
                    <tr><td><label></label></td></tr>
                    <tr>
                        <td>
                            @foreach (var d in dates.Distinct().ToList())
                            {
                                <label>@d</label> <br />
                                <MudButtonGroup Style="background:#9F4FF9;" Size="Size.Small" Variant="Variant.Outlined">
                                    @foreach (var t in dataBase.GetSessionTimeList(d, currentHallName, dataBase.CurrentMovie))
                                    {
                                        <MudButton @onclick="() => GetHall(t, d, currentHallName)">@t</MudButton>
                                    }
                                </MudButtonGroup>
                                <br /><br />
                            }
                        </td>
                    </tr>
                </table>
            </td>
            <td><img src="images/@dataBase.CurrentMovie?.Poster" /></td>
        </tr>
    </table>
</div>

@code {
    public List<Session> sessions = new List<Session>();
    public List<string> halls = new List<string>();
    public List<string> dates = new List<string>();
    public List<string> times = new List<string>();
    public string currentHallName = "";
    public string hallPrice = "";

    public void GetHall(string time, string date, string hallName)
    {
        string dateTime = date + " " + time;
        dataBase.CurrentSession = dataBase.FindSessionByDate(dateTime, dataBase.CurrentMovie, hallName);
        navigation.NavigateTo("/hall");
    }

    public void GetSessions(string hallName)
    {
        dates = new List<string>();
        currentHallName = hallName;

        switch(currentHallName)
        {
            case "2D":
                hallPrice = dataBase.CurrentMovie.Price2D;
                break;
            case "3D":
                hallPrice = dataBase.CurrentMovie.Price3D;
                break;
            case "VIP":
                hallPrice = dataBase.CurrentMovie.PriceVIP;
                break;
        }

        dataBase.CurrentHall = dataBase.FindByHallName(currentHallName);
        sessions = dataBase.GetSessionList(dataBase.CurrentMovie, hallName);

        foreach (var s in sessions)
        {
            dates.Add(s.Time.ToString("d"));
        }
    }

    protected override async Task OnInitializedAsync()
    {
        halls = dataBase.GetHallList();
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "SessionTime";
        await base.OnInitializedAsync();
    }
}
