@page "/ticket_refund"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject IJSRuntime JS

<PageTitle>Ticket refund</PageTitle>

<style type="text/css">
    .lblOne {
        text-decoration: underline;
        width: 100px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 23px;
    }

    .lblTwo {
        font-size: 23px;
    }

    .field {
        width: 85%;
        background: #9F4FF9;
        border-radius: 20px;
        font-size: 20px;
        padding: 7px;
    }

    .tableOne {
        display: inline-table;
        position: absolute;
        left: 30%;
        top: 20%;
    }

    .tableTwo {
        display: inline-table;
        position: absolute;
        left: 63%;
        top: 20%;
    }

    .tableThree {
        position: absolute;
        left: 30%;
        top: 83%;
    }

    .button {
        position: absolute;
        right: 9%;
        height: 70px;
        width: 200px;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }
</style>

<div class="tableOne">
    <table>
        <tr>
            <td><label class="lblOne">ДАННЫЕ БИЛЕТА:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Номер билета:</label></td>
            <td><input class="field" id="ticket_number" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Название показа:</label></td>
            <td><input class="field" id="movie_name" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Номер ряда:</label></td>
            <td><input class="field" id="row_number" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Номер места:</label></td>
            <td><input class="field" id="place_number" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Дата показа:</label></td>
            <td><input class="field" id="movie_date" type="text"></td>
        </tr>
    </table>
</div>

<div class="tableTwo">
    <table>
        <tr>
            <td><label class="lblOne">ЛИЧНЫЕ ДАННЫЕ:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Фамилия:</label></td>
            <td><input class="field" id="surname" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Имя:</label></td>
            <td><input class="field" id="name" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">Отчество:</label></td>
            <td><input class="field" id="patronymic" type="text"></td>
        </tr>
        <tr>
            <td><label class="lblTwo"> </label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Номер телефона:</label></td>
            <td><input class="field" id="phone_number" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><label class="lblTwo">E-mail:</label></td>
            <td><input class="field" id="mail" type="text"></td>
        </tr>
        <tr><td><label></label></td></tr>
        <tr><td><label></label></td></tr>
        <tr><td><label></label></td></tr>
        <tr><td><label></label></td></tr>
        <tr>
            <td><button class="button" @onclick="Refund">Оформить возврат</button><br /></td>
        </tr>
    </table>
</div>

<div class="tableThree">
    <table>
        <tr>
            <td><label class="lblTwo">Дата приобретения билета:</label></td>
            <td><input class="field" id="date" type="text"></td>
        </tr>
    </table>
</div>

@code {
    private User user = new User();

    public void Refund()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "TicketRefund";
        await base.OnInitializedAsync();
    }
}