@page "/ticket_buy"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Ticket buy</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "TicketBuy";
        await base.OnInitializedAsync();
    }
}