@page "/ticket_refund"
@using CinemaCoursework.Data
@inject PagesList pageList

<h3>Ticket refund</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "TicketRefund";
        await base.OnInitializedAsync();
    }
}