@page "/ticket_buy"
@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase
@inject IJSRuntime JS
@inject NavigationManager navigation
@inject ILocalStorageService localStorageService

<PageTitle>Ticket buy</PageTitle>

<style type="text/css">
    .lblOne {
        position: relative;
        left: 20%;
        top: 25%;
        text-decoration: underline;
        width: 100px;
        white-space: nowrap;
        font-weight: 700;
        font-size: 23px;
    }

    .lblTwo {
        font-size: 23px;
    }

    .field {
        width: 85%;
        background: #9F4FF9;
        border-radius: 20px;
        font-size: 20px;
    }

    .button {
        position: absolute;
        left: 27%;
        height: 20%;
        width: 35%;
        background: #9F4FF9;
        border-radius: 15px;
        font-size: 23px;
    }

    .block {
        position: absolute;
        left: 43%;
        top: 25%;
    }
</style>

<div class="block">
    <table>
        <tr>
            <td><label class="lblOne">ДАННЫЕ БАНКОВСКОЙ КАРТЫ:</label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Номер карты:</label></td>
            <td><input class="field" id="number" type="text"></td>
        </tr>
        <tr>
            <td><label> </label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Имя владельца карты:</label></td>
            <td><input class="field" id="owner_name" type="text"></td>
        </tr>
        <tr>
            <td><label> </label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">Срок действия карты:</label></td>
            <td><input class="field" id="validity_period" type="text"></td>
        </tr>
        <tr>
            <td><label class="lblTwo"> </label></td>
        </tr>
        <tr>
            <td><label class="lblTwo">CVC:</label></td>
            <td><input class="field" id="cvc" type="text"></td>
        </tr>
        <tr>
            <td><label> </label></td>
        </tr>
        <tr>
            <td><button class="button" @onclick="Buy">Купить билет</button><br /></td>
        </tr>
    </table>
</div>

@code {
    private User user = new User();

    public void Buy()
    {

    }

    protected override async Task OnInitializedAsync()
    {
        await GetPageName();
    }

    public async Task GetPageName()
    {
        pageList.PageName = "TicketBuy";
        await base.OnInitializedAsync();
    }
}