@using CinemaCoursework.Data
@using CinemaCoursework.Services
@inject PagesList pageList
@inject DataBase dataBase

<div class="bottom-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <img src="/images/logo.png" style="width: 80%; height: 20%; top:auto"/>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        @if (pageList.PageName == "Authorization" ||
        pageList.PageName == "Hall" ||
        pageList.PageName == "MovieInfo" || 
        pageList.PageName == "SessionTime" || 
        pageList.PageName == "TicketBuy" || 
        pageList.PageName == "TicketRefund")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "AddingMovie")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/adding_movie_session" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Добавить сеанс
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "AddingMovieSession")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/adding_movie" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Добавить фильм
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "AdminAccount")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/cinema_info" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Кинотеатр
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "Chat")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
        }
        else if (pageList.PageName == "CinemaInfo")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/adding_movie" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Добавить фильм
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/adding_movie_session" Match="NavLinkMatch.All">
                    <span class="oi oi-home" aria-hidden="true"></span> Добавить сеанс
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "ClientAccount")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/ticket_refund" Match="NavLinkMatch.All">
                    <span class="oi oi-credit-card" aria-hidden="true"></span> Возврат билетов
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else if (pageList.PageName == "Registration")
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="/authorization" Match="NavLinkMatch.All">
                    <span class="oi oi-person" aria-hidden="true"></span> Авторизация
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                    <span class="oi oi-book" aria-hidden="true"></span> Каталог
                </NavLink>
            </div>
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
        else
        {
            @if (dataBase.CurrentUser != null)
            {
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="/chat" Match="NavLinkMatch.All">
                        <span class="oi oi-comment-square" aria-hidden="true"></span> Чат
                    </NavLink>
                </div>
            }
        }
    </nav>
</div>

@code {
    public bool Update
    {
        get => true;
        set => StateHasChanged();
    }

    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
